venv/
.venv/
env/
ENV/

.env
.env.*
!.env.example

__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo

.pytest_cache/
.coverage
htmlcov/
coverage.xml
*.coveragerc
/test-results/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

*.override.yml
docker-compose.override.yml

*.log
logs/